<!-- PET INFO FORM -->
<form class="m-4" id="pet-info-form">
    <div class="form-header">
        <h2>ADD A PET FORM</h2>
    </div>
    <!-- PET DESCRIPTION -->
    <h3>Pet Description:</h3>
    <article class="m-4">
        <select class="is-flex p-2 box my-2" name="species" id="species">
            <option value="" disabled selected>Pet Species</option>
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="reptile">Reptile</option>
            <option value="other">Other</option>
        </select>
        <label>Name</label>
        <input type="text" placeholder="John" id="pet-name">
        <label>Age</label>
        <input type="number" min="0" max="25" placeholder="0" id="age">
        <!-- COLOR SECTION -->
        <label>Color</label>
        <input type="text" placeholder="Brown" id="color">
        <label>Breed</label>
        <input type="text" placeholder="Husky" id="breed">
    </article>
    <h3>Additional Information:</h3>
    <!-- ADDITIONAL INFORMATION -->
    <article class="m-4">
        <label>Unique features?</label>
        <input type="text" placeholder="...." id="unique-features">
        <label>What to do when encountered?</label>
        <input type="text" placeholder="..." id="when-encounter">
    </article>
    <button class="m-0 btn-generic" type="submit">Save</button>
</form>

<script src="javascript/add-pet.js"></script> 