<h2>Add a Pet</h2>
<div>
    <form action="/api/pets/create-pet" method="post" enctype="multipart/form-data">
        <input name="pet_name" type="text" placeholder="Pet Name">
        <input name="pet_age" min="0" max="25" type="number" placeholder="Pet Age">
        <select name="species" id="">
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="reptile">Reptile</option>
            <option value="other">Other</option>
        </select>
        <input name="breed" type="text" placeholder="Breed">
        <input name="color" type="text" placeholder="Color">
        <input name="unique_features" type="text" placeholder="Please enter any unique features this pet has (optional)">
        <input name="when_encounter" type="text" placeholder="What to do when encountered">
        <label for="photo">Upload a photo of the pet</label>
        <input name="photo" type="file" accept="image/png, image/jpg">
        <button type="submit">Create Pet</button>
    </form>
</div>
<div>This is Add Pet Page</div>

<!-- PET INFO FORM -->

<form>
    <div class="form-header">
        <h2>ADD A PET FORM</h2>
    </div>
    <!-- PET DESCRIPTION -->
    <h3>Pet Description:</h3>
    <article class="m-4">
        <label>Upload a Photo</label>
        <input type="file" placeholder="Upload a Photo">
        <label>*Name</label>
        <input type="text" placeholder="John">
        <label>Age</label>
        <input type="text" placeholder="1 year 2 months">
        <!-- COLOR SECTION -->
        <label>*Color</label>
        <input type="text" placeholder="Brown">
        <label>*Type</label>
        <input type="text" placeholder="Dog">
        <label>Breed</label>
        <input type="text" placeholder="Husky">
    </article>
    <h3>Additional Information:</h3>
    <!-- ADDITIONAL INFORMATION -->
    <article class="m-4">
        <label>Unique features?</label>
        <input type="text" placeholder="....">
        <label>What to do if found?</label>
        <input type="text" placeholder="...">
        <label>How to home?</label>
        <input type="text" placeholder="...">
        <label>Known medical issues?</label>
        <input type="text" placeholder="...">
    </article>
    <button class="m-0 btn-generic">Save</button>
</form>
