<!-- POST INFO FORM -->
<form class="m-4" id="post-info-form">
    <div class="form-header">
        <h2>ADD A POST FORM</h2>
    </div>
    <h3>Please Select A Pet To Post</h3>
    <div class="m-2">
        <label>Please Select Your Lost Pet To Post</label>
        <select class="is-flex p-2 box my-2" id="pet">
            <option value="" disabled selected>My Pets</option>
            {{#each pets as |pet|}}
            <option id="{{id}}">ID:{{id}} -- {{pet_name}}</option>
            {{/each}}
        </select>
        <label>Post Title</label>
        <input type="text" id="title" placeholder="Please help me find my baby!">
    </div>
    <h3>Last Seen Info</h3>
    <article class="m-3">
        <label>Time</label>
        <input type="time" id="time">
        <label>Street</label>
        <input type="text" placeholder="1234 Sesame Street" id="street">
        <label>City</label>
        <input type="text" placeholder="Houston" id="city">
        <label>State</label>
        <input type="text" placeholder="Texas" id="state">
        <label>Country</label>
        <input type="text" placeholder="USA" id="country">
    </article>
    <button class="m-0 btn-generic" type="submit">Post!</button>
</form>

<script src="javascript/add-post.js"></script>