
<!-- QUICK FILTER -->
<form class="m-4 quick-search-form">
    <div class="form-header">
        <h2>QUICK FILTERS</h2>
    </div>
    <div class="m-1 is-flex is-justify-content-center columns">
        <button type="submit" class="column dogs">Dogs</button>
        <button type="submit" class="column cats">Cats</button>
        <button type="submit" class="column reptile">Reptiles</button>
        <button type="submit" class="column other">Others</button>
    </div>
</form>

<!-- SEARCH BAR FORM -->
<form class="m-4 search-form">
    <div class="m-2 columns">
        <input class="m-2 column is-three-quarters" type="text" placeholder="Search...">
        <button class="m-2 column">On the Prowl!</button>
    </div>
</form>


{{#each posts as |post|}}

    {{> post-info post}}


{{/each}}
{{#if loggedIn}}
<a href="/addpost" class="btn-addpost">+ Post A Lost Pet</a>
{{/if}}
  <footer>
        <h1 class="footer-header">Contact Us:</h1>
        <ul class="contact-information">
            <p>Email: <a href="mailto:unleashedteam@unleashed.com">unleashedteam@unleashed.com</a></p>
            <p>Phone: <a href="tel:1231231234">(123)-123-1234</a></p>
            <p>© 2022 Unleashed LLC</p>
        </ul>
</footer>