<div>This is the Login Page</div>
<!-- LOG IN FORM -->
<form class="m-4 is-flex is-flex-direction-column is-align-items-center login-form" id="#login-form">
  <div class="form-header">
    <h2>LOGIN</h2>
  </div>
  <div class="m-3">
    <label>Username</label>
    <input type="text" placeholder="John1234" id="username-login">
    <label>Password</label>
    <input type="password" placeholder="*******" id="password-login">
  </div>
  <button class="m-0 btn-generic" type="submit">Log In</button>
</form>
<a href="/signup" class="signup-link">Want to Sign Up?</a>
<script src="javascript/login.js"></script>