  <!-- LOG IN FORM -->
  <form>
    <div>
      <input type="text" placeholder="Username">
      <input type="password" placeholder="Password">
      <a>Forgot password?</a>
    </div>
    <button>Log In</button>
    <p>New here? Please sign up!!</p>
    <button>Sign Up</button>
  </form>