<div>This is the Sign Up Page</div>

<!-- SIGN UP FORM -->
<form class="m-4 is-flex is-flex-direction-column is-align-items-center" id="#sign-up">
    <div class="form-header">
        <h2>SIGN UP</h2>
    </div>
    <div class="m-3">
        <label>Username</label>
        <input type="text" placeholder="John1234" id="username-signup">
        <label>Password</label>
        <input type="text" placeholder="*******" id="password-signup">
        <label>Email Address</label>
        <input type="email" placeholder="e.g. alex@example.com" id="email-signup">
        <label>Primary Phone</label>
        <input type="number" placeholder="Primary Phone" id="primary-phone-signup">
        <label>Secondary Phone</label>
        <input type="number" placeholder="Secondary Phone" id="secondary-phone-signup">
        <label>Prefered Contact</label>
        <select>
            <option>Email</option>
            <option>Primary Email</option>
            <option>Secondary Email</option>
        </select>
    </div>
    <button class="m-0 btn-generic" type="submit">Sign Up!</button>
</form>