<!-- SIGN UP FORM -->
<form>
    <div>
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
    </div>
</form>

<p>This is the information that will be used to contact you about your lost pet. At least '1' must be filled.</p>

<form>
    <div>
        <input type="text" placeholder="Username">
        <input type="email" placeholder="Email">
        <input type="number" placeholder="Primary Phone">
        <input type="number" placeholder="Secondary Phone">
        <select>
            <option>Prefered Contact</option>
            <option>Other</option>
        </select>
    </div>
    <button>Sign Up</button>
</form>