<div>This is Single Post Page</div>
<!-- POST A COMMENT FORM -->
    <form>
      <div class="form-header">
        <h2>POST A COMMENT</h2>
      </div>
      <div class="m-1">
        <textarea class="m-0 textarea" placeholder="Text area..."></textarea>
      </div>
      <!-- LAST SEEN FORM -->
      <details>
        <summary>Last Seen Info</summary>
        <div class="m-3">
          <label>Time</label>
          <input type="time" placeholder="e.g. alex@example.com">
          <label>Street</label>
          <input type="text" placeholder="1234 Sesame Street">
          <label>*City</label>
          <input type="text" placeholder="Houston">
          <label>*State</label>
          <input type="text" placeholder="TX">
          <label>*Country</label>
          <input type="text" placeholder="USA">
          <label>*Zip Code</label>
          <input type="number" placeholder="12345">
        </div>
      </details>
      <button class="btn-generic">Post</button>
    </form>