<div>This is Single Post Page</div>
{{!-- POST INFO --}}
<form>
  <div class="m-0 columns">
    <div class="p-0 column">
      <div class="form-header">
        <h1>Name</h1>
        <h3>Type</h3>
      </div>
      <p>Age: 00</p>
      <p>Color: Brown</p>
      <p>Breed:</p>
    </div>
    <div class="column is-two-thirds">
      <img src="/images/paw-print.svg" alt="image of a paw print">
    </div>
  </div>
  <div>
    <h2 class="heading">Last Seen information</h2>
    <p>Street: information</p>
    <p>City: information</p>
    <p>State: information</p>
  </div>
</form>

<div class="comment columns">
  
  <div class="column is-four-fifths">
    <div>
      <p>I saw them at the hospital</p>
    </div>
  </div>
  <div class="comment-header column">
    <p>Username</p>    
    <p>1 day ago</p>
  </div>
</div>

<!-- POST A COMMENT FORM -->
<form>
  <div class="form-header">
    <h2>POST A COMMENT</h2>
  </div>
  <div class="m-2">
    <textarea class="m-0 textarea" placeholder="Text area..."></textarea>
  </div>
  <button class="btn-generic">Post</button>
</form>