:root {
  /* Colors */
  --primary-color: #d71c47;
  --secondary-color: #eb772a;
  --tertiary-color: #e8e0d3;
  --quaternary-color: #579cbd;
  --quinary-color: #2c3d4d;
  /* Font Sizes */
  --font-size-lg: 48px;
  --font-size-md: 24px;
  --font-size-sm: 12px;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-color);
}

header {
  background: var(--quinary-color);
  color: var(--senary-color);
  text-align: center;
}

form {
  background: var(--quaternary-color);
  border-radius: 5px;
  
 
}

/* Button Styling */
button {
  outline: none;
  border: none;
  margin: 3px;
  padding: 10px 15px;
  background: var(--primary-color);
  color: var(--tertiary-color);
  border-radius: 8px;
  box-shadow: 0 3px var(--tertiary-color);
}

button:hover {
  box-shadow: 0 2px var(--secondary-color);
  background: var(--secondary-color);
  top: -2px;
}